version: '3.8'

services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: ecommerce
    ports:
      - "3306:3306"
    volumes:
      - ./db/init_schema.sql:/docker-entrypoint-initdb.d/init.sql

  tests:
    build:
      context: .
      dockerfile: Dockerfile.test
    depends_on:
      - db
    environment:
      DB_HOST: db
      DB_USER: root
      DB_PASSWORD: root
      DB_NAME: ecommerce
      PROCESSED_QUEUE_URL: https://sqs.us-east-1.amazonaws.com/123/mock-queue
      # ADD THESE 3 LINES:
      AWS_DEFAULT_REGION: us-east-1
      AWS_ACCESS_KEY_ID: testing
      AWS_SECRET_ACCESS_KEY: testing